/vendor/
/node_modules/

.env
.env.local
.env.development
.env.production

/.idea/
/.vscode/

*.log

/public/uploads/*
!/public/uploads/.gitkeep

/storage/videos/*
!/storage/videos/.gitkeep

/storage/private/videos/*
!/storage/private/videos/.gitkeep